body { font-family: Arial; margin:20px; }
.container { display:flex; gap:20px; }
.lista { width:30%; }
.lista button { width:100%; margin-bottom:5px; padding:10px; cursor:pointer; }
.detalhe { width:70%; background:#f0f0f0; padding:10px; border-radius:6px; }
#solucao { background:#ddd; padding:10px; border-radius:6px; white-space: pre-wrap; }
